/* Fonts */

@font-face {
  font-family: "PressStart";
  src: url("../fonts/PressStart2P-Regular.woff2") format("woff2"),
    url("../fonts/PressStart2P-Regular.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Regular.woff2") format("woff2"),
    url("../fonts/Quicksand-Regular.woff") format("woff");
  font-weight: normal;
}

body {
  font-size: 10px;
  background-color: cadetblue;
}

.app {
  box-sizing: border-box;
}

.app {
  padding: 5px;
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.main {
  width: 100%;
}

.main__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.app__header {
  font-size: 4em;
  font-family: "PressStart", cursive;
}

.levels {
  font-size: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.levels__header {
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
  margin-bottom: 0;
}

.levels__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.level {
  cursor: pointer;
  font-family: "Quicksand", sans-serif;
}

.level_selected {
  font-size: 1.5em;
  color: #f2f2f2;
}

.keyboard {
  display: flex;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
  padding-left: 0;
}

.key {
  font-family: "Quicksand", sans-serif;
  box-shadow: 0px -6px 10px rgb(0, 0, 0), 0px 4px 15px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
  height: 2em;
  font-size: 3em;
  width: 2.5em;
  margin: 0.3em;
  background-color: #000000;
  border-radius: 0.5em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0.3em 0 0 0.3em;
  color: #f2f2f2;
}

.key:hover {
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
  top: 3px;
}

.btn {
  align-self: center;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  line-height: 23px;
  outline: none;
  padding: 0.75rem;
  transition: all 235ms ease-in-out;
  font-family: "PressStart", cursive;
  background-color: transparent;
  border: 2px solid black;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
}

.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.btn:disabled:hover {
  transform: inherit;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
}

.btn:disabled:focus {
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
}

.btn_start {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 2em;
}

.sequence {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  font-size: 2em;
}

.action-buttons {
  margin-top: 15px;
  display: flex;
  gap: 6px;
}

.round-counter {
  font-family: "Quicksand", sans-serif;
  font-size: 2em;
}

.difficulty-level {
  font-family: "Quicksand", sans-serif;
  font-size: 2em;
  margin-bottom: 10px;
}

.highlight {
  background-color: #f2f2f2;
  color: black;
  box-shadow: 0px -6px 10px rgb(255, 255, 255), 0px 4px 15px rgba(0, 0, 0, 0.15);
}

.sequence {
  text-align: center;
}

.feedback {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 2em;
  margin-top: 10px;
  margin-bottom: 10px;
}

.feedback_correct {
  color: rgb(4, 52, 19);
}

.feedback_wrong {
  color: rgb(171, 18, 18);
}

.hidden {
  display: none;
}

@media screen and (max-width: 564px) {
  .app__header {
    font-size: 2em;
  }

  .key {
    height: 2em;
    font-size: 2.5em;
    width: 2.5em;
    margin: 0.2em;
    padding: 0.2em 0 0 0.2em;
  }

  .main__wrapper {
    padding: 0px;
  }

  .btn {
    font-size: 1em;
  }
}
